CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y

# Heltec WiFi LoRa 32 V3 onboard SX1262 (SPI2)
CONFIG_MISO_GPIO=11
CONFIG_MOSI_GPIO=10
CONFIG_SCLK_GPIO=9
CONFIG_NSS_GPIO=8
CONFIG_RST_GPIO=12
CONFIG_BUSY_GPIO=13
CONFIG_TXEN_GPIO=-1
CONFIG_RXEN_GPIO=-1
CONFIG_SPI2_HOST=y
CONFIG_USE_TCXO=y
